@model IEnumerable<FPEntities.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateRegistrationView")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentRecieved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfTickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentRecieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRegistrationView", new { id=item.RegistrationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistrationID }) |
            @Html.ActionLink("Delete", "DeleteREgistrationView", new { id=item.RegistrationID })
        </td>
    </tr>
}

</table>
